/* app/styles/taskform.module.css */

.formWrapper {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
  